@import "tailwindcss";

html, body, #app {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.bg-custom-gradient {
  background: linear-gradient(90deg, #15017d, #68007b);
}

@keyframes borderAnimation {
  0% {
    border-color: yellow;
  }
  50% {
    border-color: orange;
  }
  100% {
    border-color: yellow;
  }
}

.animate-border {
  animation: borderAnimation 2s infinite;
}